<div class='card w-100'>
  <div class='card-header'>
    <h2>Create New Post</h2>
    <form class='form newBlogPostForm'>
      <div class='form-group'>
        <label for='blogPostTitle'>Title</label>
        <textarea type='text' rows='2' class='form-control' id='newBlogPostTitle' style='width: inherit; font-size: larger'></textarea>
      </div>
      <div class='form-group'>
        <label for='blogPostContent'>Content</label>
        <textarea type='text' rows='5' class='form-control' id='newBlogPostContent' style='width: inherit; font-size: larger'></textarea>
      </div>
      
      <button class='btn btn-light btn-lg btn-block submit' id='createNewPost' type='click'>Create</button>
      
    </form>  
  </div>
</div>

<script src="/js/newBlogPost.js"></script>