<div class='card w-100'>
  <div class='card-header'>
    <h2>Edit Post</h2>
    <form class='form updateBlogPostForm'>
      <div class='form-group'>
        <label for='blog-post-title'>Title</label>
        <textarea type='text' rows='2' class='form-control' id='blogPostTitle' style='width: inherit; font-size: larger'>{{blogPost.title}}</textarea>
      </div>
      <div class='form-group'>
        <label for='blog-post-content'>Content</label>
        <textarea type='text' rows='5' class='form-control' id='blogPostContent' style='width: inherit; font-size: larger'>{{blogPost.content}}</textarea>
      </div>

      <button class='btn btn-light btn-lg btn-block submit' id='update-post-btn' data-id='{{blogPost.id}}' type='submit'>Update Post</button>
      <button class='btn btn-light btn-lg btn-block submit' id='delete-post-btn' data-id='{{blogPost.id}}' type='click'>Delete</button>

    </form>
    
  </div>
</div>

<script src="/js/updateBlogPost.js"></script>


